<!--Template Inheritance-->
{% extends "base.html" %}

{% block content %}
    <form>
        <input name="q">
        <button>Add</button>
    </form>

    <h2>Hello, q eqauls to {{q}}</h2>
    
    <!-- FizzBuzz -->
    <ol>
        {% for x in range(1, q+1) %}
        <li>
            {% if x % 15 ==0 %}
            FizzBuzz
            {% elif x % 5 == 0 %}
            Buzz
            {% elif x % 3 ==0 %}
            Fizz
            {% else %}
            {{x}}
            {% endif %}
        </li>
        {% endfor %}
    </ol>

    <!--      Statement Syntax -->
    {% if q == 1 %}
        q equals 1
    {% else %}
        q does not equal 1
    {% endif %}  

    <!--     For Loop Syntax -->
    <ol>
        {% for x in range(1, q+1) %}
        <li>{{ x ** 2 }}</li>
        {% endfor %}
    </ol>
{% endblock %}