<!--Template Inheritance-->
{% extends "base.html" %}

{% block content %}
    <!--Template-->
    <h1>Hello, {{name}}!</h1>
    <form>
        <h2>Add a Food</h2>
        <input type="text" name="food">
        {% if items %}
            {% for item in items %}
                <input type="hidden" name="food" value="{{item}}">
            {% endfor %}
        {% endif %}
        <button>Add</button>
        <br>
        <br>

        <h2>Shopping List</h2>
        {% if items %}
            <ul>
                {% for item in items %}
                    <!-- {{item | escape}} Escape-->
                    <!-- {{item | safe}} Don't escape if safe -->
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        {% endif %}
     </form>
{% endblock %}
